<h1>Update Pet</h1>

<form action="/pets/<%=@pet.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>Name:</p>

  <input type="text" name="pet[name]" id="pet_name" value="<%=@pet.name%>">

  <br>

  <p>Choose an existing Owner:</p>

  <%@owners.each do |owner|%>
    <input type="radio" name="pet[owner_id]" id="<%=owner.id%>" value="<%=owner.id%>" <%='checked' if @pet.owner.name == owner.name%>><%=owner.name%></input>
  <%end%>

  <p>and/or, create a new Owner:</p>

  <p>Name:</p>
    <input  type="text" name="owner[name]" id="owner_name"></input>
  <br>
  <br>
  <input type="submit" value="Update Pet">
</form>
